# Importing The Required Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
os.chdir(r"C:\Users\prasath\Music\Mercedes Benz")

In [3]:
df_train=pd.read_csv(r"C:\Users\prasath\Music\Mercedes Benz\train.csv\train.csv")

In [4]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_test=pd.read_csv(r"C:\Users\prasath\Music\Mercedes Benz\test.csv\test.csv")

In [6]:
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [7]:
df_train.shape

(4209, 378)

In [8]:
df_test.shape

(4209, 377)

In [11]:
df_train.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
df_test.describe()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,0.010216,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,0.100570,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Checking Null Values in the Given Datasets

In [13]:
df_train.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

In [14]:
df_test.isnull().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 377, dtype: int64

In [15]:
zero_var=df_train.var()[df_train.var()==0].index.values
zero_var

array(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290',
       'X293', 'X297', 'X330', 'X347'], dtype=object)

### Removing those variable whose variance are equal to zero

In [16]:
df_train.drop(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290',
       'X293', 'X297', 'X330', 'X347','ID'],axis=1,inplace=True)

In [17]:
df_train.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
label_col=df_train.describe(include=['object']).columns.values
label_col

array(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype=object)

### Applying  label encoder.

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le=LabelEncoder()
for col in label_col:
    le.fit(df_train[col].append(df_test[col]).values)
    df_train[col]=le.transform(df_train[col])
    df_test[col]=le.transform(df_test[col])

### Perform dimensionality reduction.

In [21]:
from sklearn.decomposition import PCA
pca=PCA(0.98,svd_solver='full')

In [22]:
X=df_train.drop(['y'],axis=1)
y=df_train['y']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=.2,random_state=42)

In [25]:
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=0.98, random_state=None,
    svd_solver='full', tol=0.0, whiten=False)

In [26]:
pca.n_components_

12

In [27]:
pca.explained_variance_ratio_

array([0.40868988, 0.21758508, 0.13120081, 0.10783522, 0.08165248,
       0.0140934 , 0.00660951, 0.00384659, 0.00260289, 0.00214378,
       0.00209857, 0.00180388])

In [28]:
pca_X_train=pd.DataFrame(pca.transform(X_train))
pca_X_val=pd.DataFrame(pca.transform(X_val))

In [29]:
print(df_train.shape)
print(df_test.shape)
print(X.shape)
print(X_train.shape)

(4209, 365)
(4209, 377)
(4209, 364)
(3367, 364)

In [30]:
pca_X_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-2.419452,-0.611007,-3.843534,15.051223,10.517966,-3.291361,2.242806,-1.391341,-1.641953,-0.781943,-0.670463,0.249792
1,-3.754406,-0.156986,-6.634242,12.931294,5.700700,0.689493,0.326794,-0.910293,-0.805958,1.301613,0.272010,1.246175
2,4.723647,15.727164,10.172595,-12.071983,-6.283282,-0.600279,0.773690,0.710189,-2.106015,-2.510619,-0.689292,-0.937849
3,-0.926505,11.287117,-3.012766,-10.112258,-6.317545,-0.661537,-0.239300,0.559985,-1.189790,2.587546,-0.680997,0.724748
4,10.395983,-3.471925,-11.784807,-0.533004,-0.975479,-4.639907,1.411170,-0.739972,3.299822,0.739134,-0.783735,-0.130903

In [31]:
pca_X_val.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,20.612140,-16.319893,-7.939029,2.691741,-0.674573,-2.747793,-2.127039,2.941831,1.305954,-0.095223,2.018229,-1.100170
1,-1.123824,-16.036199,0.415082,2.916770,9.355356,-1.364116,-1.878937,1.862838,-1.381127,-0.221185,-1.173805,-1.616512
2,-2.749224,4.808027,2.000871,-10.738490,3.243479,-3.692114,-0.056620,-0.294929,-1.078660,0.316824,0.755149,0.619547
3,14.199442,3.150340,3.270692,10.577979,-0.734433,-2.593174,1.135354,1.247012,0.809166,-0.595677,-0.603789,4.048736
4,23.355595,-15.268156,5.729429,5.951943,4.790395,-1.792474,0.231251,0.651460,-0.068891,-0.218094,0.152707,-1.589765

### Predict test_df values using XGBoost.

In [32]:
import xgboost as xgb

In [33]:
model=xgb.XGBRegressor(objective='reg:linear',learning_rate=0.1)
model.fit(pca_X_train,y_train)

[22:17:08] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.0.0/src/objective/regression_obj.cu:167: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster=None, colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints=None,
             learning_rate=0.1, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:linear', random_state=0, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method=None,
             validate_parameters=False, verbosity=None)

In [34]:
pca_y_val=model.predict(pca_X_val)

In [37]:
print("trainig accuracy")
train_acc=model.score(pca_X_train,y_train)
print(train_acc)
print("Testing Accuracy")
test_acc=model.score(pca_X_val,pca_y_val)
print(test_acc)

trainig accuracy
0.7716939319212651
Testing Accuracy
1.0

# Random Forest Regressor

In [41]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(pca_X_train,y_train)
pred=rf.predict(pca_X_val)

In [42]:
print("trainig accuracy")
train_acc=rf.score(pca_X_train,y_train)
print(train_acc)
print("Testing Accuracy")
test_acc=rf.score(pca_X_val,pred)
print(test_acc)

trainig accuracy
0.9094172899993199
Testing Accuracy
1.0